.lt_sort {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background-color: #EEEEEE;
  font-size: 12px;
}
.lt_sort a {
  float: left;
  width: 25%;
  height: 30px;
  text-align: center;
  color: #666;
}
.lt_sort a.current {
  color: orange;
}

.loading {
  width: 50px;
  height: 50px;
  border: 3px solid #006699;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 200px;
  /* 动画名称 动画时间 无限次*/
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: translate(-50%) rotate(0deg);
  }
  to {
    transform: translate(-50%) rotate(360deg);
  }
}